<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>拍摄设定 (下次软件完全重启时生效)</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<string>10</string>
			</array>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>低品质</string>
				<string>中等品质</string>
				<string>高品质</string>
				<string>CIF低清 (352x288)</string>
				<string>VGA (640x480)</string>
				<string>720P (1280x720)</string>
				<string>1080P (1920x1080)</string>
				<string>4K (3840x2160)</string>
				<string>逻辑像素低 (960x540)</string>
				<string>逻辑像素高 (1280x720)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>拍摄品质</string>
			<key>Key</key>
			<string>拍摄品质</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
				<integer>8</integer>
				<integer>33</integer>
				<integer>34</integer>
				<integer>36</integer>
				<integer>40</integer>
				<integer>16</integer>
				<integer>1278555445</integer>
				<integer>892679473</integer>
				<integer>1110783541</integer>
				<integer>1278555701</integer>
				<integer>24</integer>
				<integer>842285639</integer>
				<integer>32</integer>
				<integer>1111970369</integer>
				<integer>1094862674</integer>
				<integer>1380401729</integer>
				<integer>1647719521</integer>
				<integer>1647589490</integer>
				<integer>1647522401</integer>
				<integer>1647392359</integer>
				<integer>1378955371</integer>
				<integer>846624121</integer>
				<integer>1983131704</integer>
				<integer>1916022840</integer>
				<integer>2033463352</integer>
				<integer>2033463606</integer>
				<integer>1983066168</integer>
				<integer>1983000886</integer>
				<integer>1983000880</integer>
				<integer>1983131952</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1 bit indexed</string>
				<string>2 bit indexed</string>
				<string>4 bit indexed</string>
				<string>8 bit indexed</string>
				<string>1 bit indexed gray, white is zero</string>
				<string>2 bit indexed gray, white is zero</string>
				<string>4 bit indexed gray, white is zero</string>
				<string>8 bit indexed gray, white is zero</string>
				<string>16 bit BE RGB 555</string>
				<string>16 bit LE RGB 555</string>
				<string>16 bit LE RGB 5551</string>
				<string>16 bit BE RGB 565</string>
				<string>16 bit LE RGB 565</string>
				<string>24 bit RGB</string>
				<string>24 bit BGR</string>
				<string>32 bit ARGB</string>
				<string>32 bit BGRA</string>
				<string>32 bit ABGR</string>
				<string>32 bit RGBA</string>
				<string>64 bit ARGB, 16-bit big-endian samples</string>
				<string>48 bit RGB, 16-bit big-endian samples</string>
				<string>32 bit AlphaGray, 16-bit big-endian samples, black is zero</string>
				<string>16 bit Grayscale, 16-bit big-endian samples, black is zero</string>
				<string>30 bit RGB, 10-bit big-endian samples, 2 unused padding bits (at least significant end).</string>
				<string>Component Y&apos;CbCr 8-bit 4:2:2, ordered Cb Y&apos;0 Cr Y&apos;1</string>
				<string>Component Y&apos;CbCrA 8-bit 4:4:4:4, ordered Cb Y&apos; Cr A</string>
				<string>Component Y&apos;CbCrA 8-bit 4:4:4:4, rendering format. full range alpha, zero biased YUV, ordered A Y&apos; Cb Cr</string>
				<string>Component Y&apos;CbCrA 8-bit 4:4:4:4, ordered A Y&apos; Cb Cr, full range alpha, video range Y&apos;CbCr.</string>
				<string>Component Y&apos;CbCrA 16-bit 4:4:4:4, ordered A Y&apos; Cb Cr, full range alpha, video range Y&apos;CbCr, 16-bit little-endian samples.</string>
				<string>Component Y&apos;CbCr 8-bit 4:4:4</string>
				<string>Component Y&apos;CbCr 10,12,14,16-bit 4:2:2</string>
				<string>Component Y&apos;CbCr 10-bit 4:2:2</string>
				<string>Component Y&apos;CbCr 10-bit 4:4:4</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>色彩格式</string>
			<key>Key</key>
			<string>色彩格式</string>
			<key>DefaultValue</key>
			<integer>1111970369</integer>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>后置摄像头</string>
				<string>前置摄像头</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>默认摄像头</string>
			<key>Key</key>
			<string>默认摄像头</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>快门音效</string>
			<key>Key</key>
			<string>快门音效</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>缓存图片设定</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>单张照片</string>
				<string>两张照片</string>
				<string>三张照片</string>
				<string>四张照片</string>
				<string>五张照片</string>
				<string>六张照片</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>每行显示</string>
			<key>Key</key>
			<string>每行显示</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>清空时不需要确认</string>
			<key>Key</key>
			<string>清空时不需要确认</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>点击HOME按钮时完全退出</string>
			<key>Key</key>
			<string>点击HOME按钮时完全退出</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>缓存最大图片数量限制 (10-100张) (实际限制值大小仍受可用RAM量而定)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>缓存限制</string>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>图片浏览器设定</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>单点图片时返回照片列表</string>
			<key>Key</key>
			<string>单点图片时返回照片列表</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>保存图片后返回照片列表</string>
			<key>Key</key>
			<string>保存图片后返回照片列表</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>使用第三方社会化分享</string>
			<key>Key</key>
			<string>使用第三方社会化分享</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>© 神楽坂雅詩 &amp; 神楽坂紫 2017。 该软件受 MIT 许可协议保护。 要获得更多资讯，请前往开源网址了解： https://github.com/kagurazakayashi/choosephoto</string>
		</dict>
	</array>
</dict>
</plist>
