<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>拍摄设定</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>低品质</string>
				<string>中等品质</string>
				<string>高品质</string>
				<string>CIF低清 (352x288)</string>
				<string>720P (1280x720)</string>
				<string>1080P (1920x1080)</string>
				<string>4K (3840x2160)</string>
				<string>逻辑像素低(960x540)</string>
				<string>逻辑像素高(1280x720)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>拍摄品质</string>
			<key>Key</key>
			<string>拍摄品质</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>后置摄像头</string>
				<string>前置摄像头</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>默认摄像头</string>
			<key>Key</key>
			<string>默认摄像头</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>缓存图片设定</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>单张照片</string>
				<string>两张照片</string>
				<string>三张照片</string>
				<string>四张照片</string>
				<string>五张照片</string>
				<string>六张照片</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>每行显示</string>
			<key>Key</key>
			<string>每行显示</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>清空时不需要确认</string>
			<key>Key</key>
			<string>清空时不需要确认</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>点击HOME按钮时完全退出</string>
			<key>Key</key>
			<string>点击HOME按钮时完全退出</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>缓存最大图片数量限制 (10-100张) (实际限制值大小仍受可用RAM量而定)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>缓存限制</string>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>图片浏览器设定</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>单点图片时返回照片列表</string>
			<key>Key</key>
			<string>单点图片时返回照片列表</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>保存图片后返回照片列表</string>
			<key>Key</key>
			<string>保存图片后返回照片列表</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>使用第三方社会化分享</string>
			<key>Key</key>
			<string>使用第三方社会化分享</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>此页面的部分设置可能需要完全重启应用才能生效。 如果屏幕左上角有本软件名，可以点它返回应用。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>© 神楽坂雅詩 &amp; 神楽坂紫 2017。 该软件受 MIT 许可协议保护。 要获得更多资讯，请前往开源网址了解： https://github.com/kagurazakayashi/choosephoto</string>
		</dict>
	</array>
</dict>
</plist>
